services:
  app:
    image: favonia/cloudflare-ddns:latest
    user: "1000:1000"
    cap_drop:
      - all
    read_only: true
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    environment:
      - CLOUDFLARE_API_TOKEN
      - DOMAINS
      - PROXIED
      - IP6_PROVIDER=none
      - TZ
      - UPDATE_CRON=@every 1m
